# Unreal Engine specific
Intermediate/
Saved/
DerivedDataCache/
Binary/*
*.sln
*.suo
*.xcworkspace
*.xcodeproj
.DS_Store
.Dependencies/
*.dll
*.pdb
*.ilk
*.exe
*.lib
*.so
*.dylib
*.app
*.a
*.xcuserstate
*.swp
.BDS_Store
.bmac_workspace/
*.orig
*.orig.*
*.old
*.bak
*.tmp
*.DS_Store
*.layout
*.svd
*.layoutproj
*.user
*.csproj
*.pidb
*.docstates
*.tmp.txt
*.sdf
*.opensdf
*.opendb
*.VC.opendb
*.VC.db
*.sdf*
*.VC.db*
*.idb
*.aps
*.bak
*.ilk
*.exp
*.ncb
*.plg
*.pdb
*.bsc
*.obj
*.suo
*.user
*.sbr
*.pdb
*.tlb
*.tli
*.tlh
*.bak
*.bak.*
*.ilk
*.log
*.ncb
*.obj
*.old
*.opt
*.pch
*.plg
*.prj
*.sbr
*.scc
*.sdf
*.tmp
*.tlb
*.tlh
*.tmp
*.tlog
*.trx
*.pch
*.pdb
*.ilk
*.log
*.hash
*.lastbuildstate
*.sdf
*.suo
*.user
*.opensdf
*.VC.opendb
*.VC.db

# Exclude certain files within the Content folder
/Content/AssetRegistry.bin
/Content/AssetRegistry.bin.meta
/Content/*.uasset.meta

# Exclude specific directories within the Content folder
/Content/StarterContent/
/Content/EditorResources/
/Content/AutomotiveMaterials/
